* {
  padding: 0;
  margin: 0;
  color: #45505e;
  overflow-style: inherit;
}

body {
  width: 100%;
  height: 100%;
}

.first-screen {
  width: 100%;
  height: 80vh;
  background-color: #ade1c5;
}
.first-screen .first-screen__header {
  background-color: #fff;
}
.first-screen .first-screen__header .header__content {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  height: 200px;
}
.first-screen .first-screen__header .header__content .content__main {
  height: 120px;
  display: flex;
  align-items: center;
}
.first-screen .first-screen__header .header__content a {
  text-decoration: none;
  color: #4e555b;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}
.first-screen .first-screen__header .header__content a:hover {
  transition: 0.3s;
  color: #1d1e24;
}
.first-screen .first-screen__content {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

.second-screen {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.second-screen .second-screen__header {
  height: 100px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}
.second-screen .second-screen__header .header__content {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.second-screen .second-screen__header .header__content a {
  text-decoration: none;
  color: #4e555b;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.second-screen .second-screen__header .header__content a:hover {
  transition: 0.3s;
  color: #1d1e24;
}
.second-screen .second-screen__header .header__content .main__icons {
  display: flex;
  align-items: center;
}
.second-screen .second-screen__header .header__content .main__icons .icon {
  margin-right: 15px;
}
.second-screen .second-screen__content {
  height: 100vh;
}
.second-screen .second-screen__content .col-md-4 {
  height: 400px;
  margin-bottom: 4%;
}
.second-screen .second-screen__content .col-md-4 .container {
  height: 100%;
  background-color: #ade1c5;
  display: flex;
}
.second-screen .second-screen__content .col-md-4 .container .container__panel {
  width: 30%;
  background-color: #4e555b;
  height: 100%;
}
.second-screen .second-screen__content .col-md-4 .container .container__content {
  width: 70%;
  height: 100%;
  background-color: #0c5460;
}

.footer {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
}
.footer .footer__content {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  height: 95%;
}
.footer .footer__content .content__store-description {
  user-select: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 360px;
  height: 400px;
}
.footer .footer__content .content__store-description .store-description__logo {
  margin-top: 60px;
}
.footer .footer__content .content__store-description .store-description__text {
  margin-top: 15px;
  font-family: "Titillium Web", sans-serif;
  font-size: 14px;
  height: 100px;
  line-height: 22px;
  color: #7b7c85;
}
.footer .footer__content .content__store-description .store-description__link {
  text-decoration: none;
  color: #7b7c85;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}
.footer .footer__content .content__store-description .store-description__copy {
  font-family: "Roboto", sans-serif;
  color: #7b7c85;
  font-size: 11px;
  width: 100%;
}
.footer .footer__content .content__links {
  height: 400px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
}
.footer .footer__content .content__links .links__title {
  user-select: none;
  font-family: "Titillium Web", sans-serif;
  color: #1d1e24;
  margin-bottom: 30px;
}
.footer .footer__content .content__links .link {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #7b7c85;
}
.footer .footer__content .content__instagram {
  width: 350px;
  height: 100%;
}
.footer .footer__content .content__instagram .instagram__text {
  user-select: none;
  display: flex;
  margin-bottom: 60px;
}
.footer .footer__content .content__instagram .instagram__text .icon {
  width: 17px;
  height: 16px;
  margin-top: 5px;
  margin-right: 10px;
}
.footer .footer__content .content__instagram .instagram__text .text {
  font-family: "Titillium Web", sans-serif;
  color: #1d1e24;
}
.footer .footer__content .content__instagram .instagram__images-row {
  width: 100%;
  height: 80px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
.footer .footer__content .content__instagram .instagram__images-row .img {
  width: 84px;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
